
.product__card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

.product__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 24px rgba(216, 140, 162, 0.2);
}

.card-labels {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 15px;
}

.card-label {
    background-color: #F6EEE6;
    color: #846963;
    font-size: 0.75rem;
    padding: 4px 10px;
    border-radius: 20px;
    text-transform: uppercase;
}

.card-label-secondary {
    background-color: #b66b84;
}

.content .title {
    font-size: 1.5rem;
    color: #742E4A;
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.content .amount {
    font-size: 1.3rem;
    color: #742E4A;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

.content .count {
    font-size: 1.8rem;
    color: #742E4A;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}

.composition-cake-list {
    list-style: none;
    padding-left: 0;
    font-size: 1.1rem;
    color: #742E4A;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}

.composition-cake-list li::before {
    content: '•';
    color: #742E4A;
    margin-right: 6px;
}

.swiper-card {
   margin-bottom: 10px;
    margin-left: 0;
}

.contact-button-wrapper-card {
    margin-top: 30px;
    margin-bottom: 10px;
}